<div class="bodyContainer">
    <h1 class="blueText" style="margin-top:50px; margin-bottom:35px"> Glossary </h1>
    <h3> Amortization </h3>
    <p>  the process of spreading out a loan (such as a home loan or auto loans) into a series of fixed payments </p>

    <h3> Credit </h3>
    <p>  the ability of a customer to obtain goods or services before payment, based on the trust that payment will be made in the future </p>

    <h3> Debit </h3>
    <p>  an accounting entry that results in either an increase in assets or a decrease in liabilities on a company's balance sheet </p>

    <h3> Depreciation </h3>
    <p>  a reduction in the value of an asset with the passage of time, due in particular to wear and tear </p>

    <h3> Expenses </h3>
    <p>  the cost required for something; the money spent on something </p>

    <h3> Fixed Interest Rate </h3>
    <p>  the charge for the privilege of borrowing money</p>

    <h3> Interest </h3>
    <p>  the charge for the privilege of borrowing money</p>
    
    <h3> Net Income </h3>
    <p>  is sales minus cost of goods sold, selling, general and administrative expenses, operating expenses, depreciation, interest, taxes, and other expenses </p>

    <h3> Opportunity Cost </h3>
    <p>  Opportunity costs represent the benefits an individual, investor or business misses out on when choosing one alternative over another </p>

</div>