<div class="bodyContainer">
    <h1 class="blueText" style="margin-top:50px; margin-bottom:35px"> Achievements </h1>
    <div class="d-flex flex-row justify-content-around">
        <div class="d-block">
            <div class="text-center p-2">
                <h2 class="blackText"> Well Done,<span class="blueText"> Charles! </span> </h2>
                <img src="/src/assets/images/pig.png">
                <p class="blackTextSm"> You stayed within budget for<span style="font-weight: bold;"> 3 months </span>in a row! Amazing! </p>
            </div>
        </div>
        <div class="card" style="width: 200px">
            <div class="card-body">
                <div class="d-flex p-2 flex-column text-center">
                    <div class="p-2">
                        <img src="/src/assets/images/ribbon.png">
                    </div>
                    <div class="p-2">
                        <img src="/src/assets/images/medal.png">
                    </div>
                    <div class="p-2">
                        <img src="/src/assets/images/badge.png">
                    </div>
                    <a href="" class="p-2"> View more </a>
                </div>
            </div>
        </div>
    </div>
    <button class="backBtn rounded-pill btn btn-block btn-sm float-right " style="margin: 20px;" type="button" (click)="backToOptions()"> Back </button>
</div>